*{
    margin: 0;
    padding: 0;
}
.calculatorContainer{
    width: 500px;
    height: 500px;
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    border: rgb(0, 73, 198) 5px solid;
}
.equationContainer{
    width: 490px;
    height: 51px;
    background-color: white;
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
}
.numberButtonsContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
button{
    width: 90px;
    height: 90px;
    background-color: white;
    border: none;
    font-size: 25px;
}

.resetButton{
    width: 108px;
}